@import 'fonts';
@import 'colors';
@import 'media';

// HERO SECTION

.li {
    list-style: none;
    display: inline-block;

    font-family: $mainFont;
    color: $primeColor;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;

    &:hover {
        opacity: 0.8;
    }
}

.nav {
    display: flex;
    gap: 35px;

    &__li {
        &_active {
            &:after {
                display: block;
                content: '';
                
                background-color: $primeColor;
                width: 100%;
        
                margin-top: 8px;
                height: 2px;
            }
        }
    }
}

.logo {
    display: inline;
}

.header {
    display: flex;
    justify-content: space-between;

    &__nav {
        margin-top: 18px;
    }
}

.h2 {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $thirdColor;
    width: 414px;
}

.h3 {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    color: $thirdColor;
    text-transform: uppercase;
}

.btn {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    color: $primeColor;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    width: 244px;
    height: 54px;
    padding: 16px 24px;
    background: #68B738;
    border: 0;
}

.text {
    width: 414px;

    &__h2 {
        margin: 0;
    }

    &__h3 {
        margin: 40px 0 0;
    }

    &__btn {
        margin-top: 52px;
    }
}

.board {
    display: flex;
    justify-content: center;
    gap: 6vw;

    &__text {
        margin-top: 111px;
    }

    &__food {
        margin-top: 32px;
    }
}

.cat-bg {
    background: url('../img/index-background-desktop.png');
    width: 720px;
    height: 696px;
    z-index: -1;
}

.hero {
    &__cat-bg {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__header {
        margin: 53px 7.5% 0;
    }
}

// Programms section

.h4 {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    text-transform: uppercase;
}

.index {
    display: flex;
    justify-content: start;
    gap: 55px;
   align-items: center;
}

.paragraph {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    color: $thirdColor;
}

.link {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $thirdColor;

    display: inline-block;

    &__arrow {
        margin-left: 26px;
    }
}

.info {
    width: 570px;
    background-color: #F2F2F2;
    padding: 41px 51px 55px 52px;

    &__paragraph {
        margin-top: 39px;
    }

    &__link {
        margin-top: 23px;
    }
}

.programms {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 82px;
}

// HOW-IT-WORK SECTION

.icon {
    background-color: $secondaryColor;
    width: 80px;
    height: 80px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    font-family: $secondFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}

.part {
    width: 250px;
}

.bg {
    position: relative;
    top: 0;
    right: 0;
}

.how-it-works {
    display: flex;
    justify-content: space-between;

    &__about {
        margin-top: 31px;
    }
}

.how {
    padding: 71px 110px 0;

    &__how-it-works {
        margin-top: 72px;
    }
}